# VSCode related stuff
.devcontainer
.vscode/
buildstream.code-workspace
settings/

# Docker
.dockerignore

# Git
.git/
.gitmodules

# Misc
bst-plugins-container/
bst-plugins-experimental/
freedesktop-sdk
Makefile
