# VSCode related stuff
.devcontainer
**/.vscode/
buildstream.code-workspace
settings/

# Docker
.dockerignore

# Git
**/.git/
.gitmodules

# Misc
bst-plugins-container/
bst-plugins-experimental/
freedesktop-sdk
Makefile

# Python files
**/.mypy_cache/
**/__pycache__/
**/*.egg-info
**/*.tox
**/pip-wheel-metadata

# BuildStream specific
buildstream/build/
buildstream/.coverage-reports/
buildstream/src/**/*.c
buildstream/src/**/*.h
buildstream/src/**/*.so
buildstream/contrib/
buildstream/doc/
buildstream/man/
buildstream/tests/
