[submodule "buildstream"]
	path = buildstream
	url = https://gitlab.com/BuildStream/buildstream.git
	branch = master
[submodule "buildbox-casd"]
	path = buildbox-casd
	url = https://gitlab.com/buildgrid/buildbox/buildbox-casd.git
	branch = master
[submodule "buildbox-common"]
	path = buildbox-common
	url = https://gitlab.com/buildgrid/buildbox/buildbox-common.git
	branch = master
[submodule "buildbox-run-bubblewrap"]
	path = buildbox-run-bubblewrap
	url = https://gitlab.com/BuildGrid/buildbox/buildbox-run-bubblewrap.git
	branch = master
[submodule "buildbox-fuse"]
	path = buildbox-fuse
	url = https://gitlab.com/BuildGrid/buildbox/buildbox-fuse.git
	branch = master
[submodule "bst-plugins-experimental"]
	path = bst-plugins-experimental
	url = https://gitlab.com/BuildStream/bst-plugins-experimental.git
	branch = master
[submodule "bst-plugins-container"]
	path = bst-plugins-container
	url = https://gitlab.com/buildstream/bst-plugins-container.git
	branch = master
[submodule "freedesktop-sdk"]
	path = freedesktop-sdk
	url = https://gitlab.com/freedesktop-sdk/freedesktop-sdk.git
	branch = freedesktop-sdk-20.08beta.1-buildstream2
